:root {--bg-color:#000}



* {
	box-sizing: border-box;
	text-decoration: none;
	font-family: 'Montserrat', sans-serif;
}

body {
	margin: 0;
	height: 100vh;
	background-image: linear-gradient(340deg, #7B829F , #FED88D);
	display: flex;
	align-items: center;
	justify-content: center;
}

.box {
	width: 500px;
	background-color: rgba(255, 255, 255, 0.1);
	border-radius: 20px;
	border: 2px solid var(--bg-color);
	padding: 20px;
}

.box label {
	display: block;
	margin-bottom: 30px;
	color: var(--bg-color);
	font-size: 16px;
	font-weight: bold;
}

.campo-text{
	display: flex;
	justify-content: space-between;
}

.campo {
	width: 100%;
	margin-top: 5px;
	padding: 10px;
	border-radius: 10px;
	font-size: 16px;
	font-weight: bold;
	border: 2px solid var(--bg-color);
	background-color: rgba(255, 255, 255, 0.2);
	outline: 0;
	color: var(--bg-color);
}

.botao {
	margin-bottom: 20px;
	background: rgba(255, 255, 255, 0.2);
	border: 1px solid var(--bg-color);
	color: var(--bg-color);
	cursor: pointer;
	font-weight: bold;
	padding: 5px;
	width: 100%;
	text-align: center;
}

.botao:hover {
	background: rgba(255, 255, 255, 0.5);
}

.link-area {
	display: flex;
	justify-content: space-between;
	margin-bottom: 30px;
}

.link {
	color: var(--bg-color);
	font-weight: bold;
	border: none;
	background-color: none;
	cursor: pointer;
}


.text-senha {
	margin-bottom: 20px;
	font-weight: bold;
	padding: 10px;
	border-radius: 20px;
	font-size: 14px;
	color: #FFF;
	background-color: rgba(123, 130, 159, 0.8);
	text-align: justify;
}

.box-senha {
	display: none;
}















.error {
	border: 2px solid #F00;
	background-color: rgba(255, 0, 0, 0.3);
}

.text-error {
	color: #F00;
	font-size: 14px;
	font-weight:900;
}
